* {
    box-sizing: border-box
}


@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


body, html {
    margin: 0;
    height: 100%;
    background-color: #FFFFFF;
    font-family: 'Questrial', sans-serif;
    color: #000000;
}


.navbar {
    overflow: hidden;
    background-color: #FFFFFF;
    padding: 0px 50px 0px 80px;
    transition: 0.4s; 
    position: fixed; 
    width: 100%;
    box-shadow: 3px 2px 10px #b4b4b4;
    top: 0; 
    z-index: 99;
}


.navbar a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 30px 20px 30px 20px;
    text-decoration: none;
    font-size: 18px;
    height: 100%;
    line-height: 25px;
    border-radius: 0px;
    font-family: 'Questrial', sans-serif;
    font-weight: 500;
    opacity: 100%;
    display: block;
}


.navbar #logo {
    transition: 0.4s;
    margin: auto;
    padding: 15px;
}


#logoimg {
    height: 55px;
    transition: 0.4s;
    vertical-align: middle;
}


.navbar a:hover {
    color: #20639B;
}
  

.navbar a.active {
    color: #20639B;
    border-bottom: 5px solid #20639B;z
}
  

.navbar-right {
    float: right;
}


.content {
    margin: 150px 100px 10px 100px;
    text-align: justify;
    text-justify: inter-word;
    font-size: 18px;
}


.content-blue {
    padding: 10px 100px 20px 100px;
    text-align: justify;
    text-justify: inter-word;
    font-size: 18px;
    background-color: #20639B;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    content: "";
}


.content-grey {
    padding: 10px 100px 30px 100px;
    text-align: justify;
    text-justify: inter-word;
    font-size: 18px;
    background-color: #b4b4b4;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    content: "";
    display: table;
    clear: both;
}


.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    content: "";
    display: table;
    clear: both;
    height: 60px;
    background-color: #173F5F;
    color: #FFFFFF;
    text-align: left;
    padding: 0px 100px 0px 100px;
}

.column {
    float: left;
    width: 25%;
    padding: 10px;
    height: 350px;
    font-size: 12px;
    line-height: 1;
}

.market-column-4 {
    float: left;
    width: 16.66%;
    padding: 10px;
    font-size: 12px;
    line-height: 1;
}

.market-column-3 {
    float: left;
    width: 20%;
    padding: 10px;
    font-size: 12px;
    line-height: 1;
}


.footer a:link {
    color: #FFFFFF;
    text-decoration: none;
}

.footer a:visited {
    color: #FFFFFF;
}

.footer a:hover {
    color: #F6D55C;
}

.footer a:active {
    color: #FFFFFF;
}


.footer img{
    width: 25px;
    height: 25px;
    position: relative;
    top: 0px;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}


.content hr{
    height: 4px;
    border-width: 0;
    color: #F6D55C;
    background-color: #F6D55C;
    width: 500px;
    float: left;
    margin-top: -20px;
}


.content-blue hr{
    height: 4px;
    border-width: 0;
    color: #F6D55C;
    background-color: #F6D55C;
    width: 500px;
    float: left;
    margin-top: -20px;
}

.content-grey hr{
    height: 4px;
    border-width: 0;
    color: #F6D55C;
    background-color: #F6D55C;
    width: 500px;
    float: left;
    margin-top: -20px;
}


.market-content-right {
    width: 38%;
    top: 50%;
    margin: 0;
    margin-left: 58%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    color: #FFFFFF;
}

.market-content-left {
    width: 37%;
    top: 50%;
    margin: 0;
    margin-left: 6%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    color: #FFFFFF;
}

.market-content-center {
    width: 50%;
    margin: auto;
    text-align: center;
    text-align: justify;
    text-justify: inter-word;
    position: relative;
    color: #000000;
}

.market-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.partner-content-center {
    width: 90%;
    margin: auto;
    text-align: center;
    text-align: justify;
    text-justify: inter-word;
    position: relative;
    color: #000000;
}

.partner-logo {
    float: left;
    position: relative;
}

.partner-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.partner-content-center img {
    width: 300px;
    padding: 50px;
}

.stretch {
    position: relative;
    width: 100%+200px;
    height: 540px;
    margin-left: -100px;
    margin-right: -100px;
    margin-top: -20px;
}

.button {
    background-color: #FFFFFF;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
}

.learn-more-button {
    background-color: transparent;
    color: #FFFFFF; 
    border: 2px solid #FFFFFF;
}

.learn-more-button:hover {
    background-color: #F6D55C;
    color:#FFFFFF;
    border: 2px solid #F6D55C;
}

.contact-us-button {
    background-color: transparent;
    color: #FFFFFF; 
    border: 2px solid #FFFFFF;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.contact-us-button:hover {
    background-color: #F6D55C;
    color:#FFFFFF;
    border: 2px solid #F6D55C;
}


.market-icon img {
    height: 50px;
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.market-column-3 p {
    text-align: center;
}


.market-column-4 p {
    text-align: center;
}


.partner-column-4 {
    float: left;
    width: 16.66%;
    padding: 10px;
    font-size: 12px;
    line-height: 1;
}

.partner-column-3 {
    float: left;
    width: 20%;
    padding: 10px;
    font-size: 12px;
    line-height: 1;
}

.partner-icon img {
    height: 50px;
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.partner-column-3 p {
    text-align: center;
    text-justify: none;
}


.parallax [class*="bg_"] {
    position: relative;
    height: 100vh;
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax .bg_one {
    background-image: url("../img/how_we_partner/1.1.png");
}

.parallax .bg_onex {
    background-image: url("../img/how_we_partner/1.1_xray.png");
}

.parallax .bg_two {
    background-image: url("../img/how_we_partner/2.1.png");
}

.parallax .bg_twox {
    background-image: url("../img/how_we_partner/2.1_xray.png");
}

.parallax .bg_three {
    background-image: url("../img/how_we_partner/3.1.png");
}

.parallax .bg_threex {
    background-image: url("../img/how_we_partner/3.1_xray.png");
}

.parallax .bg_four {
    background-image: url("../img/how_we_partner/4.1.png");
}

.parallax .bg_fourx {
    background-image: url("../img/how_we_partner/4.1_xray.png");
}

.parallax .bg_five {
    background-image: url("../img/how_we_partner/5.1.png");
}

.parallax .bg_fivex {
    background-image: url("../img/how_we_partner/5.1_xray.png");
}


.contact-us-dot {
    height: 15px;
    width: 15px;
    background-color: #dfdfdf;
    border-radius: 50%;
    display: inline-block;
}

.vl {
    border-left: 1px solid #dfdfdf;
    height: 180px;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    margin-top: -10px;
}


.tablink {
    background-color: #FFFFFF;
    color: #000000;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 150px;
}

.tablink:hover {
    color: #20639B;
}

.tabcontent {
    color: #000000;
    display: none;
    height: 100%;
    text-align: justify;
    text-justify: inter-word;
}


input[type=text] {
    border: none;
    border-bottom: 2px solid #b4b4b4;
    font-family: 'Questrial', sans-serif;
    width: 600px;
    font-size: 20px;
    padding: 10px;
}

input[type=text]:focus {
    background-color: #dfdfdf;
    border: none;
}

input[type=text]:hover {
    background-color: #dfdfdf;
}

input[type=email] {
    border: none;
    border-bottom: 2px solid #b4b4b4;
    font-family: 'Questrial', sans-serif;
    width: 600px;
    font-size: 20px;
    padding: 10px;
}

input[type=email]:focus {
    background-color: #dfdfdf;
    border: none;
}

input[type=email]:hover {
    background-color: #dfdfdf;
}

input[type=submit] {
    background-color: transparent;
    color: #20639B; 
    border: 2px solid #20639B;
    border-radius: 20px;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #F6D55C;
    color:#FFFFFF;
    border: 2px solid #F6D55C;
}

textarea {
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    padding: 10px;
}

textarea:hover {
    background-color: #dfdfdf;
}

textarea:focus {
    background-color: #dfdfdf;
}

label {
    width: 600px;
    font-size: 14px;
    padding: 10px;
}


.content-grey a:link {
    color: #000000;
    text-decoration: underline;
}

.content-grey a:visited {
    color: #000000;
}

.content-grey a:hover {
    color: #20639B;
}

.content-grey a:active {
    color: #000000;
}